image: ruby:2.4.1

pipelines:
  default:
    - step:
        script:
          - echo "bitbucket.org ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAubiN81eDcafrgMeLzaFPsw2kNvEcqTKl/VqLat/MaB33pZy0y3rJZtnqwR2qOOvbwKZYKiEO1O6VqNEBxKvJJelCq0dTXWT5pbO2gDXC6h6QDXCaHo6pOHGPUy+YBaGQRGuSusMEASYiWunYN0vCAI8QaXnWMXNMdFP3jHAJH0eDsoiGnLPBlBp4TNm6rYI74nMzgz3B9IikW4WVK+dc8KZJZWYjAuORU3jc1c/NPskD2ASinf8v3xnfXeukU0sJ5N6m5E8VLjObPEO+mN2t/FZTMZLiFqPWc/ALSqnMnnhwrNi2rbfg/rd/IpL8Le3pSBne8+seeFVBoGqzHM9yXw==" >> ~/.ssh/known_hosts
          - (umask 077; echo $DEPLOY_KEY | base64 --decode > ~/.ssh/id_rsa)
          - git submodule update --init --recursive
          - bundle install --deployment --path vendor/bundle
          - bundle exec brakeman -z
          - bundle exec bundle-audit update
          - bundle exec bundle-audit check
          - bundle exec rubocop
          - cp config/database.docker.yml config/database.yml
          - cp config/secrets.docker.yml config/secrets.yml
          - rake db:setup
          - rake spec
          - rake test
